git+https://github.com/boudinfl/pke.git
bert_serving_server == 1.10.0
Unidecode == 1.1.1
bs4 == 0.0.1
bibtexparser == 1.2.0
bs4 == 0.0.1
keybert == 0.2.0
nltk
numpy
pandas
pyarrow
pymediawiki
selenium == 3.141.0
spacy <= 3.6.0
stanfordcorenlp <= 3.9.1.1
stemming <= 1.0.1
textacy
tqdm
